@use "sass:map";
@use "../../../../styles" as *;

.addOperator-modal{
    &__body{
        padding: 20px 30px;

        &__form{
            .formGroup{
                &--label{
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}