@use "sass:map";
@use "../../../../styles" as *;

.addEmployee-modal{
    .employeeRegisteration-Form{
        .ctaSection{
            display: flex;
            gap: 20px;
            margin-inline: auto;
            justify-content: end;

            &btn-blue{
                color: $white;
            }
        }
    }   
}