@use "sass:map";
@use "../../../styles" as *;

.customer{
    padding-inline: 20px;
    border: 1px solid $light;
    border-radius: 5px;

    & .topSection{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 20px 0;

        &__left{
            &--title{
                font-family: $font-family-sans-serif;
                color: $dark;
                font-size: map-get($map: $font-sizes, $key: 3);
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        &__right{
            display: flex;
            column-gap: 30px;

            .filter-widget{
                display: flex;
                align-items: center;
                column-gap: 10px;
                border: 1px solid $primary;
                padding: 3px 15px;
                border-radius: 5px;
                cursor: pointer;

                & p{
                    line-height: 24px;
                    margin-bottom: 0;
                    font-size: 17px;
                    font-weight: 400;
                    color: $primary;
                    font-family: $font-family-sans-serif;
                }

                & i{
                    color: $primary;
                    font-size: 18px;
                }
            }

            .primary-btn{
                color: $white;
                & i{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
    }

    & .dataGrid{
        .tHead{
            border-bottom: 2px solid $light;
            background-color: $light;
            padding-block: 10px;

            .tRow{
                & th{
                    h6{
                        text-align: center;
                        font-family: $font-family-sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
            }
        }

        & .tBody{
            border-top-width: 1px;

            .tRow{
                td{
                    text-align: center;
                    font-family: $font-family-sans-serif;
                    font-size: 15px;
                    color: $dark;
                    font-weight: 400;
                }
            }
        }
    }
}